<footer class="footer">
  <small>
    The <%= link_to t("layout_footer.library_manager") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layout_footer.about"), about_path %></li>
      <li><%= link_to t("layout_footer.contact"), contact_path %></li>
      <li><%= link_to t("layout_footer.privacy_note"), "#" %></li>
    </ul>
  </nav>
</footer>
